.container {
  border: 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-left: auto;
  width: 400px;
  position: fixed;
  right: 0;
  overflow-y: auto;
  height: 100%;
  color: rgb(255, 255, 255);

  text-align: center;
  scrollbar-width: thin;
}

.closeIcon{
  width: 20px;
}

.closeButton{
  background-color: transparent;
  margin-right: 100%;
}

.closeContainer{
  display: flex;
  justify-content: left;
}

