.card {
  box-sizing: border-box;
  display: grid;
  width: 200px;
  align-items: center;
  justify-items: center;
  border-radius: 12px;

  background-color: white;
  color: black;
  transition: transform 0.25s ease-out 0s;
  padding: 10px;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.title {
  padding: 5px;
  text-align: center;

  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

.price {
  margin: 0;
}

.card:hover {
  transform: scale(1.2);
}
